h1 {background-color:#4aaaa5; text-align:center; font-family: Georgia; color: white;
width:25%; padding: 20px 10px 20px 10px;height: 50px;}

h2 {color:#4aaaa5;}

header {background-color:#ffffff
	border-color:#cccccc;}




p {color: #777777; font-style: Arial; font-family: Helvetica;}

